.dropbtn-in-list {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 25px 50px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    border-radius: 50px;
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-bottom: 40px;
  }
  
  
  .dropdown-content-in-list {
    display: none;
    margin-top: 0; 
    background-color: white;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(0%);
    transform: translateY(-20%);
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 900px) {
      .dropbtn-in-list{
            width:100%;
      }
  }
  
  @media screen and (max-width: 900px) {
      .dropdown-content-in-list{
      width:100%;
      left: 0%;
      }
  }
  
  /* Links inside the dropdown */
  .dropdown-content-in-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content-in-list a:hover {
    background-color: #E2D0C3;
    color:white;
  }
  
  /* Show the dropdown menu on hover */
  .download-dropdown:hover .dropdown-content-in-list { /* Change this line */
      display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .download-dropdown:hover .dropbtn-in-list { /* Change this line */
    background-color: black;
    color:white;
  }
  
  #how-to-use-video-sp{
      object-fit: contain;
      height: 500px;
      padding: 50px 0px;
      background-color: black;
      margin-bottom: 30px;
  }
  
  @media screen and (min-width:480px){
      #how-to-use-video-sp{
      display:none;
      }
  }
  
  
  .elementor-3300 .elementor-element.elementor-element-78d9fd4 .elementor-accordion-item .elementor-tab-content{
       padding:0px;
  }